html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}

@media(min-width:650px) and (max-width:768px){
  main h3{
    width:50%;
    margin-left:50%;
  }
}

@media(min-width:769px){
  main h3{
    width:75%;
    margin-left:25%;
  }
}